<section class="another block">
            <div class="container">
                <h2 class="title title-another">Пробовали много средств, <span class="text-nowrap">но ни одно</span> не&nbsp;помогло?</h2>
                <p class="another__under">Большинство препаратов для лечения суставов <span class="text-orange">не способно вылечить</span> вас от&nbsp;артроза и&nbsp;артрита.</p>
                <p class="another__why">И вот почему:</p>
                <div class="another__wrap">
                    <p class="another__benefit-main">Преимущества</p>
                    <p class="another__limitation-main">Недостатки</p>
                    <div class="another__block">
                        <div class="another__img">
                            <img src="img/another1.jpg" alt="">
                        </div>
                        <div class="another__info">
                            <div class="another__name">Противовоспалительные мази, пластыри и&nbsp;компрессы</div>
                            <p class="another__benefit"><span class="another__click">Преимущества</span> <span class="another__plus">+</span></p>
                            <ul class="another__list another__list-benefits">
                                <li class="another__item">Разогревают</li>
                                <li class="another__item">Убирают легкую боль</li>
                                <li class="another__item">Снимают воспаление тканей</li>
                            </ul>
                            <p class="another__limitation"><span class="another__click">Недостатки</span> <span class="another__plus">+</span></p>
                            <ul class="another__list another__list-limitation">
                                <li class="another__item">Снимают симптомы,<br> но не лечат болезнь</li>
                                <li class="another__item">Не проникают глубоко в&nbsp;сустав</li>
                                <li class="another__item">Имеют поверхностный и&nbsp;кратковременный эффект</li>
                                <li class="another__item">Не работают<br> в местах с жировыми прослойками</li>
                            </ul>
                        </div>
                    </div>
                    <div class="another__block">
                        <div class="another__img">
                            <img src="img/another2.jpg" alt="">
                        </div>
                        <div class="another__info">
                            <div class="another__name">НПВП внутреннего применения</div>
                            <p class="another__benefit"><span class="another__click">Преимущества</span> <span class="another__plus">+</span></p>
                            <ul class="another__list another__list-benefits">
                                <li class="another__item">Просты в применении</li>
                                <li class="another__item">Относительно недорогие</li>
                                <li class="another__item">Действуют на все суставы одновременно</li>
                            </ul>
                            <p class="another__limitation"><span class="another__click">Недостатки</span> <span class="another__plus">+</span></p>
                            <ul class="another__list another__list-limitation">
                                <li class="another__item">Действуют медленно и&nbsp;болезнь возвращается после прекращения приема таблеток</li>
                                <li class="another__item">За счет химического состава, имеют много побочных эффектов</li>
                                <li class="another__item">Со временем вызывают привыкание</li>
                                <li class="another__item">Имеют много противопоказаний</li>
                            </ul>
                        </div>
                    </div>
                    <div class="another__block">
                        <div class="another__img">
                            <img src="img/another3.jpg" alt="">
                        </div>
                        <div class="another__info">
                            <div class="another__name">Уколы</div>
                            <p class="another__benefit"><span class="another__click">Преимущества</span> <span class="another__plus">+</span></p>
                            <ul class="another__list another__list-benefits">
                                <li class="another__item">Быстро снимают боль</li>
                                <li class="another__item">На время компенсируют недостаток суставной жидкости</li>
                            </ul>
                            <p class="another__limitation"><span class="another__click">Недостатки</span> <span class="another__plus">+</span></p>
                            <ul class="another__list another__list-limitation">
                                <li class="another__item">Не восстанавливают хрящ</li>
                                <li class="another__item">Болезненны</li>
                                <li class="another__item">При длительном применении могут<br> вызвать повреждение связочного аппарата сустава</li>
                                <li class="another__item">Прием - длительный и&nbsp;дорогостоящий,<br> с массой побочных эффектов</li>
                            </ul>
                        </div>
                    </div>
                    <div class="another__block">
                        <div class="another__img">
                            <img src="img/another4.jpg" alt="">
                        </div>
                        <div class="another__info">
                            <div class="another__name">Физиотерапия и&nbsp;физкультура</div>
                            <p class="another__benefit"><span class="another__click">Преимущества</span> <span class="another__plus">+</span></p>
                            <ul class="another__list another__list-benefits">
                                <li class="another__item">Улучшает эффективность кровотока в суставе</li>
                                <li class="another__item">Укрепляет мышцы</li>
                                <li class="another__item">Снимает легкую боль</li>
                            </ul>
                            <p class="another__limitation"><span class="another__click">Недостатки</span> <span class="another__plus">+</span></p>
                            <ul class="another__list another__list-limitation">
                                <li class="another__item">Эффективна лишь<br> на ранних стадиях артроза</li>
                                <li class="another__item">Дорогостоящее лечение</li>
                                <li class="another__item">Требует много времени и&nbsp;системности</li>
                                <li class="another__item">Работает лишь<br> в комплексе с другими методами</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h3 class="another__result">Вывод:</h3>
                <p class="another__text"><span class="text-semibold">Большая часть современных препаратов</span> для лечения суставов являются нестероидными противовоспалительными препаратами (НПВП) или средствами, имеющими <span class="text-semibold">временный эффект.</span> Их применение лишь <span class="text-semibold">снимает симптомы болезни.</span></p>
                <p class="another__bottom">Более того, длительный прием НПВП <span class="another__bottom-orange">способен ускорить процесс разрушения хрящей</span>, поэтому применять их необходимо с большой осторожностью, а по-настоящему хорошие специалисты категорически не рекомендуют их своим пациентам. Эффект от других препаратов заметен только при длительном лечении, <span class="another__bottom-orange">помогает лишь на начальных стадиях</span> артроза.</p>
            </div>
        </section>