<section class="benefits">
   <div class="wrap">
      <div class="benefits__wrap">
         <img class="product" src="img/prod-main.png" alt="product">
         <div class="content">
            <h2 class="title benefits__title"><span class="color-light">20</span> <span class="color-orange">FLEX</span>
               — надежное средство, разработанное на основе передовых
               американских технологий </h2>
            <p class="desc">вернет вам крепкие подвижные суставы и активную жизнь
            </p>
         </div>
      </div>
      <h4 class="ttl text-bold">После курса приема препарата вы сможете:</h4>
      <div class="benefits__cols">
         <div class="col col-1">
            <div class="age age-1">
               <div class="value">30<span>+</span></div>
               <span class="text">лет</span>
            </div>
            <div class="item">
               <img src="img/benefits-1.jpg" alt="item__img" class="img">
               <p class="item__text text-semibold"><span class="desc">Отправиться<br> в долгожданный поход</span></p>
            </div>
            <div class="item">
               <img src="img/benefits-2.jpg" alt="item__img" class="img">
               <p class="item__text text-semibold"><span class="desc">Заняться активным<br> отдыхом</span></p>
            </div>
         </div>
         <div class="col col-2">
            <div class="age age-2">
               <div class="value">45<span>+</span></div>
               <span class="text">лет</span>
            </div>
            <div class="item">
               <img src="img/benefits-3.jpg" alt="item__img" class="img">
               <p class="item__text text-semibold"><span class="desc">Без боли заниматься<br> любимым делом</span></p>
            </div>
            <div class="item">
               <img src="img/benefits-4.jpg" alt="item__img" class="img">
               <p class="item__text text-semibold"><span class="desc">Наслаждаться каждым<br> днем своей жизни</span></p>
            </div>
         </div>
         <div class="col col-3">
            <div class="age age-3">
               <div class="value">60<span>+</span></div>
               <span class="text">лет</span>
            </div>
            <div class="item">
               <img src="img/benefits-5.jpg" alt="item__img" class="img">
               <p class="item__text text-semibold"><span class="desc">Играть со своими внуками</span></p>
            </div>
            <div class="item">
               <img src="img/benefits-6.jpg" alt="item__img" class="img">
               <p class="item__text text-semibold"><span class="desc">Ходить на рыбалку</span></p>
            </div>
         </div>
      </div>
      <h3 class="result">
         <span>Верните здоровье,</span> чтобы проводить каждый день своей жизни, занимаясь любимым делом с любимыми
         людьми!
      </h3>
      <div class="form-wrap">
         <form action="/submit" method="post" class="x_order_form benefits__form">
            <div class="price">
               <div class="old">
                  <p class="old__text">Старая цена</p>
                  <p class="text-nowrap"> <span class="old__value x_price_previous">1980</span><span class="old__current x_currency">руб</span></p>
               </div>
               <div class="new">
                  <p class="new__text">Новая цена</p>
                  <p class="text-nowrap">
                     <span class="new__value x_price_current">990</span>
                     <span class="new__current x_currency">руб</span><span class="note">*</span>
                  </p>
               </div>
            </div>
            <div class="input-wrap">
               <i class="fico fico-name"></i>
               <input class="input" type="text" name="name" placeholder="Мое имя" required="" autocomplete="name" />
            </div>
            <div class="input-wrap">
               <i class="fico fico-tel"></i><input class="input" type="tel" name="phone" placeholder="Мой телефон"
                  required="" autocomplete="tel" />
            </div>
            <button type="submit" class="btn benefits__btn text-bold">
               Заказать <small class="small">co скидкой</small>
            </button>
         </form>
      </div>
   </div>
</section>