<section class="header block header--bottom">
   <div class="wrap">
      <ul class="header__top">
         <li class="item">
            <i class="fico fico-header-icon-1"></i>
            <a href="#expert" class="link js-scroll">№1 среди<br />
               рекомендаций<br />
               врачей за 2018 год</a>
         </li>
         <li class="item">
            <i class="fico fico-header-icon-2"></i>
            <a href="#" class="link js-scroll">Эффективность доказана<br />
               клиниками США, России<br />
               и Европы</a>
         </li>
         <li class="item">
            <i class="fico fico-header-icon-3"></i>
            <a href="#reviews" class="link js-scroll">Отзывы<br />
               за 2018 год</a>
         </li>
      </ul>
      <div class="header__main">
         <img src="img/header_back-1.png" alt="man" class="man" />
         <img src="img/header_back-2.png" alt="woman" class="woman" />
         <img class="product-photo" src="img/prod-main.png" alt="product" />
         <div class="info">
            <img src="img/svg/logo.svg" alt="logo" class="logo" />
            <h1 class="header__title">
               <b class="text-bold">Лучшая американская технология</b> для надежного
               избавления от болезней суставов!
            </h1>
            <p class="text">
               Восстановление хряща изнутри благодаря усиленной проникающей
               способности!
            </p>
            <ul class="info__list">
               <li class="item">
                  <i class="fico fico-check"></i>
                  <b class="text-semibold">Двигайтесь свободно</b> и без боли уже
                  через 20 дней
               </li>
               <li class="item">
                  <i class="fico fico-check"></i>
                  <b class="text-semibold">Забудьте про неприятный хруст,</b>
                  воспаление и припухлости в суставах
               </li>
               <li class="item">
                  <i class="fico fico-check"></i>
                  <b class="text-semibold">Больше никаких врачей —</b> наслаждайтесь
                  полноценной<br />
                  жизнью здорового человека
               </li>
            </ul>
         </div>
         <div class="order-form">
            <form action="/submit" method="post" class="x_order_form form">
               <p class="form__title text-semibold">
                  Успейте заказать со скидкой<br />
                  <span class="text-orange">до</span>
                  <span class="date-0 text-orange">09.10.2018</span>
               </p>
               <div class="price">
                  <div class="old">
                     <p class="old__text">Старая цена</p>
                     <p class="text-nowrap">
                        <span class="old__value x_price_previous">1980</span><span class="old__current x_currency">руб</span>
                     </p>
                  </div>
                  <div class="new">
                     <p class="new__text">Новая цена</p>
                     <p class="text-nowrap">
                        <span class="new__value x_price_current">990</span>
                        <span class="new__current x_currency">руб</span><span class="note">*</span>
                     </p>
                  </div>
               </div>
               <div class="leftovers text-semibold">
                  Осталось <span class="lastpack text-orange">10</span> упаковок<small>по акции</small>
               </div>
               <div class="input-wrap">
                  <i class="fico fico-name"></i>
                  <input class="input" type="text" name="name" placeholder="Мое имя" required="" autocomplete="name" />
               </div>
               <div class="input-wrap">
                  <i class="fico fico-tel"></i><input class="input" type="tel" name="phone" placeholder="Мой телефон"
                     required="" autocomplete="tel" />
               </div>
               <button type="submit" class="btn form__btn text-bold">
                  Заказать <small class="small">co скидкой</small>
               </button>
               <span class="foodnote">* при заказе курса</span>
               <span class="protection">
                  <i class="fico fico-protection"></i> Ваши данные защищены!
               </span>
            </form>
         </div>
      </div>
   </div>
</section>