<section class="danger block">
    <div class="wrap">
        <img class="danger__joint" alt="joint" src="img/joint.png">
        <h2 class="title danger__title">
            Неправильное лечение или его отсутствие
        </h2>
        <h3 class="danger__subtitle">
            забирает время, деньги, и может окончиться в лучшем случае операцией, а в худшем – инвалидностью. <br>
            Эмоциональное состояние больного также оставляет желать лучшего.
        </h3>
        <h4 class="danger__progress">
            Как прогреструет болезнь
        </h4>
        <div class="danger__content">
            <div class="danger__item">
                <span class="danger__num">1</span>
                <p class="danger__text danger__text--first">
                    Суставы <span class="danger__item--bold">с трудом разгибаются</span>,
                    болят и увеличиваются в размерах.
                    Наблюдается выраженное
                    воспаление и отечность в этой
                    области.
                </p>
                <div class="danger__pic">
                    <img src="img/danger-1.jpg" alt="img" class="danger__pic--img">
                    <p class="danger__pic--quote">
                        Что вы чувствуете:
                    </p>
                </div>
                <h4 class="danger__problem">
                    Ограничение движений
                </h4>
                <p class="danger__text danger__text--second">
                    Поход в магазин или несколько часов
                    на ногах вызывают боль в коленях
                    и пояснице. Больному все время приходится останавливаться, чтобы отдохнуть. Он остается дома
                    в одиночестве, стыдится попросить помощи, ведь чувствует себя неполноценным.
                </p>
            </div>
            <div class="danger__item">
                <span class="danger__num">2</span>
                <p class="danger__text danger__text--first">
                    Любое движение <span class="danger__item--bold">сопровождается невыносимой болью</span>, каждое
                    колебание погоды или повышение физической нагрузки сказываются
                    на состоянии больного и являются
                    для него сильным стрессом.
                </p>
                <div class="danger__pic">
                    <img src="img/danger-2.jpg" alt="img" class="danger__pic--img">
                    <p class="danger__pic--quote">
                        Что вы чувствуете:
                    </p>
                </div>
                <h4 class="danger__problem">
                    Боль и зависимость
                </h4>
                <p class="danger__text danger__text--second">
                    Человек становится зависим от приема обезболивающего. Приходится экономить на еде, чтобы купить себе
                    лекарства, которые не приносят облегчения. Побочные эффекты лекарств приводят к болезням сердца,
                    диарее, запору, слабости, высыпаниям. Больному артрозом сложно выполнять работу
                    по дому, он не может проводить время
                    с близкими как раньше.
                </p>
            </div>
            <div class="danger__item">
                <span class="danger__num">3</span>
                <p class="danger__text danger__text--first">
                    Больной <span class="danger__item--bold">не может передвигаться
                    без посторонней помощи</span>
                    и не в состоянии самостоятельно справиться бытовыми задачами.
                    Он становится тяжелым грузом
                    для своих родных и близких.

                </p>
                <div class="danger__pic">
                    <img src="img/danger-3.jpg" alt="img" class="danger__pic--img">
                    <p class="danger__pic--quote">
                        Что вы чувствуете:
                    </p>
                </div>
                <h4 class="danger__problem">
                    Беспомощность
                </h4>
                <p class="danger__text danger__text--second">
                    Из-за ужасных болей в руках, ногах, спине проблемой становится даже переключение каналов телевизора.
                    Прием обезболивающих - обязательная процедура 3-4 раза в день. Больной жалеете, что не начали
                    лечиться раньше или лечился неправильно.
                </p>
            </div>
        </div>
        <h4 class="danger__return">
            <span class="danger__return--bold">Не дожидайтесь необратимых</span> последствий или необходимости дорогого
            лечения! <br>
            Болезнь всегда проще лечить на начальной стадии.
        </h4>
        <div class="btn danger__btn">Начните прямо сейчас!</div>
    </div>
</section>