<section class="efficiency block">
  <div class="wrap">
    <h2 class="title efficiency__title">
      <span class="color-light">20</span>&nbsp;<span class="color-orange">FLEX</span> так эффективен
    </h2>
    <p class="efficiency__desc">
      благодаря высокой проникающей способности и суперактивным компонентам
    </p>
    <div class="efficiency__content">
      <div class="col">
        <div class="col__item col__item-1">
          <img class="item-pick" src="img/efficiency-1.png" alt="item_pick" />
          <h3 class="ttl">Хондроитин</h3>
          <p class="text">
            Обезболивает, снимает воспаления и&nbsp;ускоряет восстановление хряща.
            Укрепляет хрящ, связки и сухожилия. Активизирует выработку
            гиалуроновой кислоты в суставе
          </p>
        </div>
        <div class="col__item col__item-2">
          <img class="item-pick" src="img/efficiency-2.png" alt="item_pick" />
          <h3 class="ttl">Экстракт центеллы азиатской</h3>
          <p class="text">
            Укрепляет костные и хрящевые ткани сустава, защищает суставы от
            износа и&nbsp;старения, омолаживает их
          </p>
        </div>
      </div>
      <div class="center">
        <div class="center__dot center__dot-1"></div>
        <div class="center__dot center__dot-2"></div>
        <div class="center__dot center__dot-3"></div>
        <div class="center__dot center__dot-4"></div>
        <img class="efficiency__img" src="img/efficiency-pick.png" alt="efficiency-pick" />
      </div>
      <div class="col">
        <div class="col__item col__item-3">
          <img class="item-pick" src="img/efficiency-3.png" alt="item_pick" />
          <h3 class="ttl">Экстракт мяты перечной</h3>
          <p class="text">
            Улучшает микроциркуляцию крови<br />
            в суставе, ускоряет процессы регенерации<br />
            в хрящевых и&nbsp;соединительных тканях, снимает воспаление и&nbsp;боль
          </p>
        </div>
        <div class="col__item col__item-4">
          <img class="item-pick" src="img/efficiency-4.png" alt="item_pick" />
          <h3 class="ttl">Глюкозамин</h3>
          <p class="text">
            Закрепляет и продлевает эффект лечения и&nbsp;восстановления
            сустава, питает хрящевую, костную и соединительную ткани,
            противостоит разрушению сустава
          </p>
        </div>
      </div>
    </div>
    <div class="form-wrap">
      <form action="/submit" method="post" class="x_order_form efficiency__form">
        <div class="price">
          <div class="old">
            <p class="old__text">Старая цена</p>
            <p class="text-nowrap">
              <span class="old__value x_price_previous">1980</span><span class="old__current x_currency">руб</span>
            </p>
          </div>
          <div class="new">
            <p class="new__text">Новая цена</p>
            <p class="text-nowrap">
              <span class="new__value x_price_current">990</span>
              <span class="new__current x_currency">руб</span><span class="note">*</span>
            </p>
          </div>
        </div>
        <div class="input-wrap">
          <i class="fico fico-name"></i>
          <input class="input" type="text" name="name" placeholder="Мое имя" required="" autocomplete="name" />
        </div>
        <div class="input-wrap">
          <i class="fico fico-tel"></i><input class="input" type="tel" name="phone" placeholder="Мой телефон" required=""
            autocomplete="tel" />
        </div>
        <button type="submit" class="btn efficiency__btn text-bold">
          Заказать 20FLEX<small class="small">co скидкой</small>
        </button>
      </form>
    </div>
  </div>
</section>