<section class="experts block" id="expert">
   <div class="wrap">
      <h2 class="title experts__title">Российские и американские эксперты<br>&nbsp;рекомендуют <span class="color-light">20</span>&nbsp;<span
            class="color-orange">FLEX</span></h2>
      <p class="experts__desc">как самое эффективное средство для восстановления суставов</p>
      <div class="experts__content">
         <div class="name-wrap">
            <div class="name name-1 name--active js-tabs" data-target="#comment-1">
               <p class="icon-1">Моника Розиан</p>
            </div>
            <div class="name name-2 js-tabs" data-target="#comment-2">
               <p class="icon-2">Василий Петренко</p>
            </div>
         </div>
         <div class="comment comment--active" id="comment-1">
            <div class="comment__photo">
               <img src="img/monika.png" alt="monika" class="photo">
               <p class="name">Моника Розиан</p>
               <span class="city">США</span>
            </div>
            <div class="comment-wrap">
               <div class="comment__text">
                  <p class="text">Мне повезло участвовать в создании 20FLEX. Американский сенат выделил на разработку
                     20
                     млн. долларов и всего один год.<br>&nbsp;Чего я, откровенно говоря, считала
                     недостаточным. </p>

                  <p class="text">
                     Но, благодаря нашим блистательным ученым и передовым технологиям, мы справились и создали
                     уникальное
                     средство, которое работает в&nbsp;любом возрасте. 20FLEX не просто облегчает боль и снимает отеки
                     суставов. Его элементы проникают глубоко в&nbsp;хрящевую ткань и&nbsp;постепенно восстанавливают
                     ее. А
                     это значит - полное восстановление сустава и
                     избавление от боли.
                  </p>

                  <p class="text">
                     <span class="text-semibold"> Пациенты выздоравливают и возвращаются к активной жизни,</span>
                     в&nbsp;спорт, танцы, туризм. Здоровые люди - счастливые люди,<br>&nbsp;
                     а <span class="text-semibold">20FLEX - настоящее спасение при проблемах в&nbsp;суставах</span>.
                  </p>
               </div>
            </div>
         </div>
         <div class="comment" id="comment-2">
            <div class="comment__photo">
               <img src="img/vasa.png" alt="vasa" class="photo">
               <p class="name">Василий Петренко</p>
               <span class="city">Россия</span>
            </div>
            <div class="comment-wrap">
               <div class="comment__text">
                  <p class="text">В рамках госзаказа в нашу больницу прислали несколько упаковок 20FLEX. </p>

                  <p class="text">
                     Мы предложили их нескольким пациентам и стали наблюдать
                     за их состоянием. Первое, что они заметили - проходила боль
                     и&nbsp;отеки. <span class="text-semibold"> Дальше, спустя неделю использования 20FLEX пациенты
                        заметили, что суставы стали более
                        подвижными.<br>&nbsp;Как до болезни. Отеки и боль больше не&nbsp;наблюдались.</span>
                  </p>

                  <p class="text">
                     После полного курса большинство пациентов полностью
                     избавились от&nbsp;проблем с суставами. Я был рад этому, написал отчет в Министерство
                     и&nbsp;попросил
                     прислать
                     нам больше этого 20FLEX.
                     <span class="text-semibold">
                        В настоящее время, препарат прошел все испытания и&nbsp;проверки и уже стал доступен для всех
                        граждан
                        нашей страны.
                     </span><br>&nbsp;
                     Рекомендую.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>