<section class="experts block" id="expert">
   <div class="wrap">
      <h2 class="title experts__title">Российские и американские эксперты<br> рекомендуют <span class="color-light">20</span>&nbsp;<span
            class="color-orange">FLEX</span></h2>
      <p class="experts__desc">как самое эффективное средство для восстановления суставов</p>
      <div class="experts__content">
         <div class="name-wrap">
            <div class="name name--active">
               Моника Розиан
            </div>
            <div class="name">
               Василий Петренко
            </div>
         </div>
         <div class="comment">
            <div class="comment__photo">
               <img src="img/monika.png" alt="monika" class="photo">
               <p class="name">Моника Розиан</p>
               <span class="city">США</span>
            </div>
            <div class="comment__text">
               <p class="text">Мне повезло участвовать в создании 20FLEX. Американский сенат выделил на разработку 20
                  млн. долларов и всего один год<br> Чего я, откровенно говоря, считала
                  недостаточным. </p>

               <p class="text">
                  Но, благодаря нашим блистательным ученым и передовым технологиям, мы справились и создали уникальное
                  средство, которое работает в любом возрасте. 20FLEX не просто облегчает боль и снимает отеки
                  суставов. Его элементы проникают глубоко в&nbsp;хрящевую ткань и постепенно восстанавливают ее. А это
                  значит - полное восстановление сустава и
                  избавление от боли.
               </p>

               <p class="text">
                  <span class="text-semibold"> Пациенты выздоравливают и возвращаются к активной жизни,</span>
                  в&nbsp;спорт, танцы, туризм. Здоровые люди - счастливые люди,<br>
                  а <span class="text-semibold">20FLEX - настоящее спасение при проблемах в суставах</span>.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>