<section class="block how">
    <div class="wrap">
        <h2 class="title">
            Восстановить суставы — <br>
            просто и быстро!
        </h2>
        <div class="how__content">
            <div class="how__left">
                <div class="how__prod">
                    <img src="img/how__list.png" alt="list" class="how__prod--list">
                    <img class="how__prod--img" src="img/prod-main.png" alt="product">
                </div>
                <div class="how__btn btn">
                    Заказать
                    <small class="small">co скидкой</small>
                </div>
            </div>
            <ul class="how__right">
                <li class="how__item how__item--1">
                    <div class="how__foto">
                    <span class="how__foto--num">
                        01
                    </span>
                        <img src="img/how-1.jpg" alt="foto" class="how__foto--img">
                    </div>
                    <div class="how__text">
                        <h3 class="how__text--title">
                            Тщательно вымойте руки
                        </h3>
                        <p class="how__text--p">
                            теплой водой
                        </p>
                    </div>
                </li>
                <li class="how__item how__item--2">
                    <div class="how__foto">
                    <span class="how__foto--num">
                        02
                    </span>
                        <img src="img/how-2.jpg" alt="foto" class="how__foto--img">
                    </div>
                    <div class="how__text">
                        <h3 class="how__text--title">
                            Нанесите гель на сустав,
                        </h3>
                        <p class="how__text--p">
                            тщательно вотрите массажными <br>
                            круговыми движениями

                        </p>
                    </div>
                </li>
                <li class="how__item how__item--3">
                    <div class="how__foto">
                    <span class="how__foto--num">
                        03
                    </span>
                        <img src="img/how-3.jpg" alt="foto" class="how__foto--img">
                    </div>
                    <div class="how__text">
                        <h3 class="how__text--title">
                            Повторяйте регулярно
                        </h3>
                        <p class="how__text--p">
                            в течение 30 дней
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>