<section class="block order">
    <div class="wrap">
        <h2 class="order__title title">
            Закажите бесплатную доставку&nbsp;<br>
            <span class="order__title--light">20</span>&nbsp;<span class="order__title--orange">FLEX</span>
        </h2>
        <ul class="order__content">
            <li class="order__item">
                <span class="order__num">1</span>
                <div class="order__foto">
                    <img src="img/order-1.png" alt="foto" class="order__foto--img order__foto--img1">
                </div>
                <p class="order__text">
                    Заполните форму
                </p>
            </li>
            <li class="order__el order__el--first">
                <img src="img/reviews__line.png" alt="el" class="order__el--img ">
            </li>
            <li class="order__item">
                <span class="order__num">2</span>
                <div class="order__foto">
                    <img src="img/order-2.png" alt="foto" class="order__foto--img order__foto--img2">
                </div>
                <p class="order__text">
                    Ответьте на звонок <br>
                    оператора

                </p>
            </li>
            <li class="order__el order__el--second">
                <img src="img/reviews__line.png" alt="el" class="order__el--img">
            </li>
            <li class="order__item">
                <span class="order__num">3</span>
                <div class="order__foto">
                    <img src="img/order-3.png" alt="foto" class="order__foto--img order__foto--img3">
                </div>
                <p class="order__text">
                    Оплатите только <br>
                    после получения
                </p>
            </li>
        </ul>
        <div class="order__line">

        </div>
        <h3 class="order__subtitle">
            Наш специалист бесплатно проконсультирует вас по телефону <br>
            и ответит на все вопросы о
            <span class="order__title--light">20</span><span class="order__title--orange">FLEX</span>

        </h3>
    </div>
</section>