<section class="organs block">
	<div class="container">
		<h2 class="title title-organs">Как <span class="twenty-color">20</span> <span class="flex-color">FLEX</span> восстанавливает хрящ изнутри</h2>
		<div class="organs__wrap">
			<div class="organs__left">
				<div class="organs__item">
					<div class="organs__info">
						<p class="organs__name">Снимает воспаления,<br> возвращает свободу движений</p>
						<p class="organs__text">Вы можете свободно сгибать<br> и&nbsp;разгибать суставы без<br> каких-либо помех.</p>
					</div>
					<div class="organs__img-wrap">
						<div class="organs__img">
							<img src="img/organ1.jpg" alt="">
						</div>
						<div class="organs__dot organs__dot-1">
						</div>
					</div>
				</div>
				<div class="organs__item">
					<div class="organs__info">
						<p class="organs__name">Восстанавливает жидкость необходимую для нормального скольжения хряща</p>
						<p class="organs__text">В суставе исчезает чувство<br> дискомфорта, пропадает хруст,<br> скрип и щелчки.</p>
					</div>
					<div class="organs__img-wrap">
						<div class="organs__img">
							<img src="img/organ2.jpg" alt="">
						</div>
						<div class="organs__dot organs__dot-2"></div>
					</div>
				</div>
			</div>
			<div class="organs__mid">
				<img src="img/organ-man.png" alt="">
			</div>
			<div class="organs__right">
				<div class="organs__item">
					<div class="organs__img-wrap">
						<div class="organs__img">
							<img src="img/organ3.jpg" alt="">
						</div>
						<div class="organs__dot organs__dot-3"></div>
					</div>
					<div class="organs__info">
						<p class="organs__name">Восстанавливает хрящевую ткань</p>
						<p class="organs__text">Сустав не болит даже при большой и&nbsp;частой нагрузке. Вы можете заниматься спортом, тяжелой работой,<br> активно проводить время.</p>
					</div>
				</div>
				<div class="organs__item">
					<div class="organs__img-wrap">
						<div class="organs__img">
							<img src="img/organ4.jpg" alt="">
						</div>
						<div class="organs__dot organs__dot-4"></div>
					</div>
					<div class="organs__info">
						<p class="organs__name">Обеспечивает хрящевую ткань питательными элементами</p>
						<p class="organs__text">Делает сустав крепким, износоустойчивым.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>