<script src="../../../../../done/лп01/public/js/main.js"></script>
<section class="block reviews">
    <div class="wrap">
        <div class="">
            <h2 class="reviews__title title">Видео отзывы наших клиентов</h2>
            <div class="hike">
                <div class="video-wrap ">
                    <div class="youtube" id="-hWaLbdDyhs" style="width: 310px; height: 240px;"></div>
                    <p>Антонина</p>
                </div>
                <div class="video-wrap ">
                    <div class="youtube" id="wijEKnIgFks" style="width: 310px; height: 240px;"></div>
                    <p>Надежда</p>
                </div>
                <div class="video-wrap ">
                    <div class="youtube" id="vu3ZacNVaAY" style="width: 310px; height: 240px;"></div>
                    <p>Ольга</p>
                </div>

            </div>
        </div>

        <h2 class="reviews__title title">
            Реальные отзывы людей, которые <br>
            уже попробовали <span class="orange">Cleanol</span>
        </h2>
        <div class="reviews__content">
            <div class="reviews__slider">
                <div class="content__item">
                    <div class="item__wrap">
                        <div class="item__foto">
                            <img src="img/review-1.jpg" alt="foto" class="foto__img">
                        </div>
                        <p class="item__auth">
                            Татьяна Валерьевна 48 лет
                        </p>
                        <p class="item__quote">

                            Cleanol сэкономил <br>
                            нам деньги
                        </p>
                        <span class="quote__el">
                      “
                    </span>
                        <p class="item__text">
                            Никогда бы не поверила, что пылевые
                            клещи могут принести так много
                            проблем. Пока сама с ними не
                            столкнулась. До сих пор не знаю,
                            как они попали в дом, наверное дети
                            с улицы на обуви занесли.
                            Заболели мы все разом, кашель, раздражение глаз и очень сильная сыпь. Ладно мы с мужем, но дети
                            растут,
                            организм у них еще не окреп. Так что срочно к врачам побежали. Лечили нас от аллергии, денег мы
                            без толку
                            потратили уйму! Я сильно разозлилась и отправилась к другому врачу. Та сразу поняла, в чем
                            проблема и
                            сказала купить спрей для тела Клеанол. Я купила сразу несколько упаковок, побрызгала им детей и
                            себя. Уже на
                            следующий день глаза перестали болеть. А еще через пару дней прошли кашель и сыпь.
                        </p>
                        <span class="text__open">

          </span>
                    </div>
                </div>
                <div class="content__item">
                    <div class="item__wrap">
                        <div class="item__foto">
                            <img src="img/block10__img1.png" alt="foto" class="foto__img">
                        </div>
                        <p class="item__auth">
                            Людмила, 38 лет
                        </p>
                        <p class="item__quote">
            <span class="quote__el">
              “
            </span>
                            Cleanol сэкономил <br>
                            нам деньги
                        </p>
                        <p class="item__text">
                            Никогда бы не поверила, что пылевые
                            клещи могут принести так много
                            проблем. Пока сама с ними не
                            столкнулась. До сих пор не знаю,
                            как они попали в дом, наверное дети
                            с улицы на обуви занесли.
                            Заболели мы все разом, кашель, раздражение глаз и очень сильная сыпь. Ладно мы с мужем, но дети
                            растут,
                            организм у них еще не окреп. Так что срочно к врачам побежали. Лечили нас от аллергии, денег мы
                            без толку
                            потратили уйму! Я сильно разозлилась и отправилась к другому врачу. Та сразу поняла, в чем
                            проблема и
                            сказала купить спрей для тела Клеанол. Я купила сразу несколько упаковок, побрызгала им детей и
                            себя. Уже на
                            следующий день глаза перестали болеть. А еще через пару дней прошли кашель и сыпь.
                        </p>
                        <span class="text__open">

          </span>
                    </div>
                </div>
                <div class="content__item">
                    <div class="item__wrap">
                        <div class="item__foto">
                            <img src="img/block10__img1.png" alt="foto" class="foto__img">
                        </div>
                        <p class="item__auth">
                            Людмила, 38 лет
                        </p>
                        <p class="item__quote">
            <span class="quote__el">
              “
            </span>
                            Cleanol сэкономил <br>
                            нам деньги
                        </p>
                        <p class="item__text">
                            Никогда бы не поверила, что пылевые
                            клещи могут принести так много
                            проблем. Пока сама с ними не
                            столкнулась. До сих пор не знаю,
                            как они попали в дом, наверное дети
                            с улицы на обуви занесли.
                            Заболели мы все разом, кашель, раздражение глаз и очень сильная сыпь. Ладно мы с мужем, но дети
                            растут,
                            организм у них еще не окреп. Так что срочно к врачам побежали. Лечили нас от аллергии, денег мы
                            без толку
                            потратили уйму! Я сильно разозлилась и отправилась к другому врачу. Та сразу поняла, в чем
                            проблема и
                            сказала купить спрей для тела Клеанол. Я купила сразу несколько упаковок, побрызгала им детей и
                            себя. Уже на
                            следующий день глаза перестали болеть. А еще через пару дней прошли кашель и сыпь.
                        </p>
                        <span class="text__open">

          </span>
                    </div>
                </div>
            </div>

        </div>

        <h3 class="reviews__subtitle">
            Хотите поделиться своим опытом использования <span class="orange">Cleanol</span>? Вы можете оставить
            текстовый
            отзыв с фотографией
            <br> или видеоотзыв. Раз в месяц мы отбираем 3 отзыва и дарим авторам СКИДКУ на следующий заказ.
        </h3>
        <div class="reviews__review">
            <input class="input__val input__name input__val-1" type="text" placeholder="Имя">
            <input class="input__val input__tel input__val-2" type="text" placeholder="Телефон">
            <div class="answer__input-wrapper">
                <input class="input__val input__text input__val-3" type="text" placeholder="Текст отзыва...">
                <div class="answer__plus">
                    <img src="img/skrepka.svg" alt="Добавить отзыв" class="review__file-trigger">
                    <input type="file" class="answer__file">
                </div>
            </div>

            <div class="btn btn-review">
                Отправить
            </div>
        </div>
    </div>
</section>

<div class="popup__review">
    <div class="review__inner">
        <span class="close">X</span>
        <p class="review__title">Отзыв отправлен на модерацию. Спасибо!</p>
        <p class="review__p">Нецензурная лексика или реклама будут удалены.</p>
    </div>
</div>