<section class="stat block">
	<div class="container">
		<h2 class="title title-stat"><span class="twenty-color">20</span> <span class="flex-color">FLEX</span> - лучшая американская технология для надежного лечения болезней суставов</h2>
		<p class="stat__under">“Национальное спасение” США 2018 от массовой инвалидности при болезнях суставов, доступное в России</p>
		<p class="stat__make">20FLEX  разработан в США в рамках программы “Национальное спасение” как средство против артроза — главной причины инвалидности населения страны.</p>
		<p class="stat__reason">Артроз — самая частая причина инвалидности в&nbsp;США</p>
		<div class="stat__wrap">
			<div class="stat__item">
				<div class="stat__circle">
					<div class="circe__svg-wrap">
						<svg class="circle__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" style="stroke-dasharray: 40, 434;">
                    	    <circle r="69" cx="75" cy="75"></circle>
                    	</svg>
					</div>
					<div class="stat__number">
						<p class="stat__count">91</p>
						<p class="stat__what">млн</p>
					</div>
				</div>
				<p class="stat__descr">Американцев страдает от проблем с&nbsp;артрозом и больных суставов</p>
			</div>
			<div class="stat__item">
				<div class="stat__circle">
					<div class="circe__svg-wrap">
						<svg class="circle__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" style="stroke-dasharray: 280, 434;">
                    	    <circle r="69" cx="75" cy="75"></circle>
                    	</svg>
					</div>
					<div class="stat__number">
						<p class="stat__count">38</p>
						<p class="stat__what">%</p>
					</div>
				</div>
				<p class="stat__descr">От всего населения США</p>
			</div>
		</div>
		<div class="stat__list">
			<div class="stat__img">
				<img src="img/stat.jpg" alt="">
				<p class="stat__name"><span class="twenty-color">20</span> <span class="flex-color">FLEX</span></p>
			</div>
			<div class="stat__info">
				<p class="stat__text">Как известно, <span class="stat__text-mod">основными причинами артрита и артроза</span> являются травмы, занятия спортом, возрастные изменения, инфекционные заболевания и лишний вес. <span class="stat__text-mod">Ожирение</span> является чуть ли не эпидемией национального масштаба в&nbsp;США. Поэтому заболевания суставов так распространены в&nbsp;Америке.</p>
				<p class="stat__text">По статистике, каждый третий американец имеет проблемы с&nbsp;суставами —  как в молодом, так и в пожилом возрасте. В&nbsp;связи с этим правительство взялось за разработку инновационного средства, <span class="stat__text-mod">которое надежно лечило бы&nbsp;артрит и артроз</span> даже при таком серьезном подспорье, как лишний вес. Крайне важно было именно лечить заболевание <span class="stat__text-mod">а не просто снимать симптомы</span> - так как при наличии все того же ожирения, временные меры не помогали и проблемы с суставами возвращались снова и снова.</p>
				<p class="stat__text">Разработка средства длилась больше года, было проведено огромное количество экспериментов. В&nbsp;результате был создан 20FLEX. Это средство показало невероятную эффективность уже во время клинических испытаний. Его отличительным свойством является <span class="stat__text-mod">невероятная проникающая способность</span> благодаря чему его активный многокомпонентный состав <span class="stat__text-mod">восстанавливает хрящ изнутри</span>.</p>				
			</div>
		</div>
		<div class="stat__line"></div>
		<p class="stat__bottom">Поэтому <span class="twenty-color">20</span><span class="flex-color">FLEX</span> снимает воспаления и восстанавливает хрящевую ткань, возвращая естественную подвижность суставу и защищая его от возвращения артрита и артроза.</p>
	</div>
</section>