<section class="block use">
   <div class="wrap">
      <h2 class="title use__title">
         Используйте <span class="color-blue">20</span>
         <span class="color-blue2">FLEX +</span> (внутренее применение)
      </h2>
      <p class="use__desc">
         для максимальной эффективности
         <span class="color-light text-bold">20</span>
         <span class="color-orange text-bold">FLEX</span> (внешнее применение)
      </p>
      <div class="use__text">
         <p class="content">
            <span class="color-blue text-bold">20</span>
            <span class="color-blue2 text-bold">FLEX +</span> - единственные
            таблетки с клинически доказанной эффективностью, которые омолаживают
            ваши суставы благодаря гиалуроновой кислоте в составе
         </p>
      </div>
      <div class="use__content">
         <div class="col">
            <div class="col__item">
               <img class="item-pick" src="img/efficiency-1.png" alt="item_pick" />
               <div class="text-over">
                  <h3 class="ttl">Хондроитин</h3>
                  <p class="text">
                     укрепляет структуру хряща, сухожилий, связок, обезболивает,
                     снимает воспаление,
                     <span class="text-semibold">запускает регенерацию хряща</span>,
                     стимулирует синтез гиалуроновой кислоты. Улучшает
                     фосфорно-кальциевый обмен в хрящевой ткани, тормозит процессы
                     дегенерации хрящевой и соединительной ткани
                  </p>
               </div>
               <button class="button button--plus js_show-more"></button>
               <button class="button button--minus js_show-more"></button>
            </div>
            <div class="col__item">
               <img class="item-pick" src="img/use-1.png" alt="item_pick" />
               <div class="text-over">
                  <h3 class="ttl">Экстракт зеленых мидий</h3>
                  <p class="text">
                     улучшает кровообращение в суставе,
                     <span class="text-semibold">укрепляет костную и хрящевую ткани</span>, содержит в составе полезные<br>
                     для суставов микроэлементы,<br> витамины В2, В2, В6, В12, РР, D и Е
                  </p>
               </div>
               <button class="button button--plus js_show-more"></button>
               <button class="button button--minus js_show-more"></button>
            </div>
         </div>
         <div class="img-wrap"><img class="use__img" src="img/product__blue.png" alt="use-pick" /></div>
         <div class="col">
            <div class="col__item">
               <img class="item-pick" src="img/efficiency-4.png" alt="item_pick" />
               <div class="text-over">
                  <h3 class="ttl">Глюкозамин</h3>
                  <p class="text">
                     тормозит развитие дегенеративных процессов в суставах,
                     <span class="text-semibold">восстанавливает</span> их функцию,
                     <span class="text-semibold">уменьшая суставные боли</span>
                  </p>
               </div>
               <button class="button button--plus js_show-more"></button>
               <button class="button button--minus js_show-more"></button>
            </div>
            <div class="col__item">
               <img class="item-pick" src="img/use-2.png" alt="item_pick" />
               <div class="text-over">
                  <h3 class="ttl">Экстракт смолы босвеллии пильчатой</h3>
                  <p class="text">
                     <span class="text-semibold">быстро снимает боль и отеки суставов</span>, защищает хрящевые ткани
                     от различных воспалений, улучшает
                     усвоение питательных элементов хрящами сустава.
                  </p>
               </div>
               <button class="button button--plus js_show-more"></button>
               <button class="button button--minus js_show-more"></button>
            </div>
         </div>
      </div>
      <div class="center">
         <button class="btn use__btn text-bold">
            Заказать 20FLEX + <small class="small">co скидкой</small>
         </button>
      </div>
      <p class="use__result">Тщательно подобранные элементы делают <span class="color-blue">20</span><span class="color-blue2">FLEX
            +</span> самым эффективным средством, которое восстанавливает, питает и
         защищает суставы.</p>
   </div>
</section>