body
	font-family: 'Myriad Pro', sans-serif

.container
	width: 100%
	max-width: 1190px
	position: relative
	margin: 0 auto
	padding: 0 10px
	+r(1199)
		max-width: 1024px
	+r(1023)
		max-width: 767px
	+r(767)
		max-width: 640px
	+r(638)
		// max-width: 480px

.block
	+r(1169)
		// padding: 60px 0
	+r(1023)
		padding: 40px 0
	+r(767)
		padding: 30px 0
	+r(479)
		padding: 25px 0

.title
	font-family: 'Myriad Pro', sans-serif
	font-size: 46px
	line-height: 46px
	text-align: center
	font-weight: 700
	margin: 0 auto
	+r(1199)
		font-size: 36px
		line-height: 37px
	+r(1023)
		font-size: 32px
		line-height: 33px
	+r(767)
		font-size: 29px
		line-height: 30px
	+r(479)
		font-size: 26px
		line-height: 27px

.dib
	display: inline-block

.text-black
	color: #000

.text-semibold
	font-weight: 600

.text-bold
	font-weight: 700

.text-orange
	color: $orange

.text-dark
	color: $dark

.text-nowrap
	white-space: nowrap

// Font icons
.fico
	display: inline-block
	font-size: 3rem
	&::before
		display: block

