.danger {
  background-color: #eef5f6;
  text-align: center;
  padding-top: 20px;

  &__joint {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
  }

  &__subtitle {
    margin-top: 16px;
    color: #444444;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
  }

  &__progress {
    display: inline-block;
    padding: 11px 25px;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin-top: 39px;
    margin-bottom: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border-radius: 22px;
    background-color: #ffffff;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    width: 370px;
    min-height: 714px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: 1px solid #e1ebec;
    background-color: #ffffff;
    padding-right: 19px;
    padding-left: 19px;

    &--bold {
      color: #000000;
      font-weight: 700;
    }
  }

  &__num {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    width: 56px;
    height: 56px;
    background-color: #ef7a02;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: 7px solid #fff;
    border-radius: 50%;
    margin-top: -23px;
  }

  &__text {
    color: #444444;
    line-height: 26px;
    font-weight: 400;

    &--first {
      margin-top: 13px;
      font-size: 19px;
      padding-bottom: 15px;
      min-height: 173px;
      font-weight: 600;
    }

    &--second {
      font-size: 18px;
      padding-bottom: 26px;
      margin-top: 10px;
    }
  }

  &__pic {
    width: 100%;
    display: flex;
    flex-direction: column;

    &--img {
      flex-shrink: 0;
      border-radius: 5px 5px 0 0;
    }

    &--quote {
      width: 100%;
      color: #333333;
      font-size: 20px;
      font-weight: 600;
      font-style: italic;
      line-height: 26px;
      background-color: #fbe7cb;
      border-radius: 0 0 5px 5px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: calc(50% - 10px);
        border: 10px solid transparent;
        border-top: 10px solid #fbe7cb;
      }
    }
  }

  &__problem {
    margin-top: 17px;
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
  }

  &__return {
    margin-top: 57px;
    color: #333333;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;

    &--bold {
      color: #000000;
      font-weight: 600;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    max-width: 330px;
    height: 65px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    z-index: 1;
    position: relative;
  }
}

@media screen and (max-width: 1190px) {
  .danger {
    &__joint {
      margin-bottom: 30px;
    }

    &__subtitle {
      margin-top: 10px;
      font-size: 20px;
      line-height: 1.4;
    }

    &__progress {
      font-size: 22px;
      margin-top: 20px;
    }

    &__item {
      width: 325px;
      align-items: flex-start;
      min-height: 640px;
    }

    &__text {
      line-height: 1.3;

      &--first {
        font-size: 18px;
        min-height: 155px;
      }

      &--second {
        font-size: 17px;
      }
    }

    &__pic {
      &--quote {
        font-size: 18px;
      }
    }

    &__problem {
      margin-top: 15px;
      font-size: 20px;
      line-height: 1.3;
    }

    &__return {
      margin-top: 30px;
      font-size: 22px;
      line-height: 1.3;
    }
  }
}

@media screen and (max-width: 1023px) {
  .danger {
    &__subtitle {
      font-size: 18px;

      & br {
        display: none;
      }
    }

    &__num {
      font-size: 18px;
      line-height: 1;
      border-width: 4px;
      width: 36px;
      height: 36px;
      margin-top: -18px;
    }

    &__progress {
      font-size: 20px;
    }

    &__item {
      padding-right: 10px;
      padding-left: 10px;
      width: 245px;
    }

    &__text {
      &--first {
        font-size: 16px;
        min-height: 195px;
      }

      &--second {
        font-size: 16px;
      }
    }

    & .danger__pic {
      &--quote {
        font-size: 17px;
      }
    }

    &__problem {
      font-size: 18px;
    }

    &__return {
      font-size: 20px;

      & br {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .danger {
    &__content {
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
    }

    &__progress {
      margin-bottom: 0;
    }

    &__text {
      &--first {
        min-height: 135px;
      }
    }

    &__item {
      margin-top: 40px;
      min-height: auto;
      max-width: 300px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 639px) {
  .danger {
    &__text {
      &--first {
        min-height: auto;
      }
    }
  }
}