.color-light
	color: #f2bd70
.color-orange
	color: #ec7902
.efficiency
	background: url('../img/efficiency__back.png') no-repeat center top
	padding-top: 130px
	&__title
		margin-bottom: 18px
		+r(1023)
			margin-bottom: 12px
	&__desc
		text-align: center
		font-size: 22px
		color: #222222
		margin-bottom: 9px
		+r(1023)
			font-size: 20px
	&__content
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 45px
		+r(1023)
			margin-bottom: 25px
		.center
			position: relative
			&__dot
				position: absolute
				width: 16px
				height: 16px
				border-radius: 50%
				background: #86ac13
				box-shadow: 0 0 0 5px #b9cf76, 0 0 0 10px rgba(#86ac13, .3)
				z-index: 2
				&-1
					top: 136px
					left: 103px
					+r(1023)
						top: 103px
						left: 83px
				&-2
					top: 201px
					left: 51px
					+r(1023)
						top: 151px
						left: 35px
				&-3
					left: 156px
					top: 106px
					+r(1023)
						left: 120px
						top: 36px
				&-4
					top: 200px
					right: 101px
					+r(1023)
						top: 172px
						right: 84px
		.col
			&__item
				text-align: center
				max-width: 370px
				position: relative
				+r(1023)
					max-width: 310px
				&::after
					content: ''
					display: block
					position: absolute
					width: 100px
					height: 1px
					background: #87ac13
					+r(1023)
						width: 60px
				&::before
					content: ''
					display: block
					position: absolute
					background: #87ac13
					height: 1px
					width: 200px
					z-index: 1
				&-1
					&::after
						right: 8px
						top: 59px
						+r(1199)
							right: -3px
						+r(1023)
							right: -3px
					&::before
						transform: rotate(48deg)
						top: 59px
						transform-origin: 0 0
						right: -266px
						width: 274px
						+r(1199)
							transform: rotate(62deg)
							right: -237px
							width: 234px
						+r(1023)
							transform: rotate(66deg)
							right: -212px
							width: 209px
				&-2
					&::after
						right: 8px
						top: 59px
						+r(1199)
							right: -3px
						+r(1023)
							right: -3px
					&::before
						transform: rotate(-13deg)
						top: 59px
						transform-origin: 0 0
						right: -114px
						width: 123px
						+r(1199)
							transform: rotate(-18deg)
							right: -75px
							width: 72px
						+r(1023)
							transform: rotate(-46deg)
				&-3
					&::after
						left: 8px
						top: 59px
						+r(1199)
							left: -3px
						+r(1023)
							left: -3px
					&::before
						transform: rotate(-39deg)
						top: 59px
						transform-origin: 100% 100%
						left: -270px
						width: 279px
						+r(1199)
							transform: rotate(-54deg)
							left: -232px
							width: 229px
						+r(1023)
							transform: rotate(-45deg)
							left: -182px
							width: 179px
				&-4
					&::after
						left: 8px
						top: 59px
						+r(1199)
							left: -3px
						+r(1023)
							left: -3px
					&::before
						transform: rotate(9deg)
						top: 59px
						transform-origin: 100% 100%
						left: -161px
						width: 170px
						+r(1199)
							left: -113px
							width: 110px
						+r(1023)
							left: -99px
							width: 97px
				&:nth-of-type(odd)
					margin-bottom: 15px
				.item-pick
					margin-bottom: 15px
					+r(1023)
						width: 150px
						margin-bottom: 10px
				.ttl
					font-size: 22px
					font-weight: 600
					color: #0f0f0f
					margin-bottom: 20px
					+r(1023)
						font-size: 20px
						margin-bottom: 15px
				.text
					font-size: 18px
					color: #444444
					line-height: 1.3
					+r(1023)
						font-size: 16px
						br
							display: none
	&__form
		display: flex
		background-color: #f6fcfd
		border: 1px solid #c7e0e3
		padding: 40px 25px
		border-radius: 50px 0 50px 0
		box-shadow: 40px 3px 0 -18px #c7e0e3, -40px 11px 0px -19px #c7e0e3
		+r(1199)
			padding: 30px
		+r(1023)
			width: 300px
			display: block
			margin: auto
		// +r(320)
		// 	width: 280px
		// 	box-shadow: 30px 3px 0 -18px #c7e0e3, -30px 11px 0px -19px #c7e0e3
		.price
			border-bottom: none
			margin-bottom: 0
			padding-bottom: 0
			+r(1023)
				margin-bottom: 20px
		.input-wrap
			width: 280px
			margin-bottom: 0
			+r(1199)
				width: 210px
			+r(1023)
				width: 100%
				margin-bottom: 15px
	&__btn
		width: 270px
		padding: 0 10px
		font-size: 27px
		color: #ffffff
		height: 66px
		line-height: 1
		+r(1199)
			width: 260px
		+r(1023)
			width: 100%
			font-size: 24px
		.small
			display: block
			font-size: 17px