.header
	background: url('../img/header__back.jpg') no-repeat center top
	background-size: cover
	&__top
		padding-top: 29px
		display: flex
		justify-content: flex-end
		margin-bottom: 46px
		+r(1023)
			justify-content: center
			padding-top: 0
		+r(767)
			justify-content: space-between
			margin-bottom: 22px
		+r(639)
			flex-wrap: wrap
			justify-content: space-around
		+r(480)
			display: none
		.item
			padding-left: 48px
			position: relative
			font-size: 18px
			+r(639)
				font-size: 16px
				+nlt
					margin-bottom: 15px
			&:last-of-type
				padding-left: 39px
			+nlt
				margin-right: 50px
			+r(767)
				+nlt
					margin-right: 0
			.fico
				position: absolute
				left: 0
				top: 0
				color: #ec7902
				&-header-icon-1
					font-size: 35px
				&-header-icon-2
					font-size: 32px
				&-header-icon-3
					font-size: 30px
		.link
			color: $dark
			border-bottom: 1px dashed #666768
			line-height: 1.11
			&:hover
				border-bottom: none
	&__main
		display: flex
		justify-content: flex-end
		position: relative
		padding-bottom: 50px
		+r(1023)
			justify-content: space-between
		+r(767)
			display: block
		.man
			position: absolute
			bottom: -56px
			left: 129px
			width: 340px
			+r(1440)
				width: 298px
				left: 213px
			+r(1199)
				left: 0
				width: 340px
			+r(1023)
				display: none
		.woman
			position: absolute
			bottom: 0
			left: -136px
			+object-fit(contain, center 86px)
			+r(1440)
				left: -13px
				width: 270px
			+r(1199)
				display: none
		.product-photo
			position: absolute
			bottom: -166px
			left: -15px
			+r(1440)
				left: 48px
				width: 426px
			+r(1199)
				bottom: -116px
				left: -5px
				width: 350px
			+r(1023)
				bottom: -136px
				left: 186px
				width: 290px
			+r(767)
				left: auto
				right: 0
				bottom: 160px
				width: 341px
			+r(639)
				left: 70px
				top: 440px
				bottom: auto
			+r(480)
				top: 460px
				width: 300px
				left: 0
				right: 0
				margin: auto
		.info
			max-width: 380px
			margin-right: 30px
			+r(1023)
				max-width: 100%
			+r(1199)
				margin-right: 15px
			+r(767)
				text-align: center
			.logo
				max-width: 165px
				width: 100%
				margin-bottom: 20px
				+r(767)
					margin-bottom: 10px
				+r(639)
					max-width: 140px
			&__list
				+r(767)
					margin: auto
					width: 62%
					margin-bottom: 20px
				+r(639)
					width: 88%
				+r(480)
					width: 300px
					margin: auto
				.item
					font-size: 19px
					position: relative
					padding-left: 60px
					line-height: 1.26
					+r(767)
						text-align: left
					+r(480)
						font-size: 16px
						padding-left: 40px
						+nlt
							margin-bottom: 15px
					+nlt
						margin-bottom: 31px
					.fico
						position: absolute
						display: flex
						align-items: center
						justify-content: center
						left: 0
						top: 0
						font-size: 18px
						color: white
						background: #ec7902
						width: 46px
						height: 46px
						border-radius: 50%
						border: 5px solid white
						+r(480)
							height: 35px
							width: 35px
							border: 3px solid white
							font-size: 16px
				.text-semibold
					display: block
	&__title
		text-align: left
		font-size: 31px
		line-height: 1.03
		color: #222222
		margin-bottom: 32px
		+r(767)
			text-align: center
			font-size: 28px
			margin-bottom: 15px
		+r(639)
			font-size: 24px
			margin-bottom: 10px
		+r(480)
			max-width: 300px
			margin: auto
			margin-bottom: 15px
	.text
		font-size: 20px
		color: $dark
		line-height: 1.26
		font-style: italic
		margin-bottom: 20px
		+r(767)
			font-size: 18px
		+r(639)
			font-size: 16px
		+r(480)
			max-width: 300px
			margin: auto
			margin-bottom: 20px
.order-form
	width: 250px
	+r(1024)
		margin-right: 10px
	+r(767)
		margin-right: auto
	+r(639)
		margin: auto
		padding-top: 230px
.form
	width: 100%
	padding: 23px 15px 24px 15px
	background-color: white
	position: relative
	border-radius: 50px 0 50px 0
	box-shadow: 30px 3px 0 -18px #c7e0e3, -30px 11px 0px -19px #c7e0e3
	&::after
		content: ''
		display: block
		position: absolute
		right: -52px
		top: 117px
		+sprite($line)
		+r(1280)
			display: none
	&__title
		text-align: center
		font-size: 20px
		color: #222222
		line-height: 1.18
		max-width: 160px
		margin: auto
		margin-bottom: 9px
.price
	display: flex
	justify-content: center
	align-items: center
	position: relative
	padding-bottom: 17px
	margin-bottom: 13px
	border-bottom: 1px solid transparentize(black, .9)
	.old
		padding-right: 22px
		border-right: 1px solid transparentize(black, .9)
		margin-right: 18px
		&__text
			font-size: 14px
			color: #777777
			margin-bottom: 11px
		&__value
			font-size: 32px
			font-weight: 300
			color: #999999
			position: relative
			&::after
				content: ''
				display: block
				position: absolute
				height: 1px
				width: 100%
				bottom: 7px
				transform-origin: 0 0
				background: #f37d33
				transform: rotate(-18deg)
			&::before
				content: ''
				display: block
				position: absolute
				height: 1px
				width: 100%
				bottom: 7px
				transform-origin: 100% 0
				background: #f37d33
				transform: rotate(18deg)
		&__current
			color: #999999
			font-size: 16px
	.new
		&__text
			font-size: 14px
			color: #000000
			margin-bottom: 11px
		&__value
			font-size: 36px
			color: #87ac13
			font-weight: 900
		&__current
			font-size: 16px
			color: #87ac13
			z-index: 11
	.note
		font-size: 16px
		color: #87ac13
.form
	.leftovers
		text-align: center
		font-size: 18px
		color: #000000
		margin-bottom: 12px
		small
			display: block
	.protection
		position: relative
		padding-left: 25px
		font-size: 16px
		color: #000000
		display: block
		max-width: 213px
		width: 100%
		margin: auto
		.fico
			position: absolute
			position: absolute
			left: -6px
			top: 50%
			color: #ec7902
			transform: translateY(-50%)
			font-size: 20px
	.foodnote
		text-align: center
		display: block
		font-size: 14px
		margin-bottom: 20px
.input-wrap
	width: 100%
	margin: auto
	position: relative
	margin-bottom: 15px
	.fico
		position: absolute
		left: 23px
		top: 21px
		font-size: 23px
		color: #87ac13
	.input
		padding-left: 55px
		padding-right: 10px
		width: 100%
		box-sizing: border-box
		height: 65px
		border-radius: 32px
		background-color: #ffffff
		border: none
		outline: none
		font-size: 18px
		color: #666666
		border: 2px solid #efefef
		+placeholder
		font-family: 'Myriad Pro', Arial, Helvetica, sans-serif
.form
	&__btn
		font-size: 30px
		color: #ffffff
		padding: 8px 0
		width: 100%
		line-height: 1
		margin-bottom: 5px
		.small
			display: block
			font-size: 17px